# Auto detect text diff=json files and perform LF normalization
* text=auto
*.2functions             text diff=json
*.achievement            text diff=json
*.activeitem             text diff=json
*.aimission              text diff=json
*.animation              text diff=json
*.augment                text diff=json
*.back                   text diff=json
*.beamaxe                text diff=json
*.behavior               text diff=json
*.behavior-project       text diff=json
*.biome                  text diff=json
*.bossability            text diff=json
*.bush                   text diff=json
*.chest                  text diff=json
*.cinematic              text diff=json
*.codex                  text diff=json
*.collection             text diff=json
*.combofinisher          text diff=json
*.config                 text diff=json
*.configfunctions        text diff=json
*.consumable             text diff=json
*.currency               text diff=json
*.cursor                 text diff=json
*.damage                 text diff=json
*.dance                  text diff=json
*.dungeon                text diff=json
*.effectsource           text diff=json
*.event                  text diff=json
*.flashlight             text diff=json
*.frames                 text diff=json
*.functions              text diff=json
*.grass                  text diff=json
*.gun                    text diff=json
*.harvestingtool         text diff=json
*.head                   text diff=json
*.inspectiontool         text diff=json
*.instrument             text diff=json
*.item                   text diff=json
*.itemdescription        text diff=json
*.legs                   text diff=json
*.json                   text diff=json
*.liqitem                text diff=json
*.liquid                 text diff=json
*.lua                    text diff=lua
*.material               text diff=json
*.matitem                text diff=json
*.matmod                 text diff=json
*.miningtool             text diff=json
*.modularfoliage         text diff=json
*.modularstem            text diff=json
*.monstercolors          text diff=json
*.monsterpart            text diff=json
*.monsterskill           text diff=json
*.monstertype            text diff=json
*.namesource             text diff=json
*.nodes                  text diff=json
*.npctype                text diff=json
*.object                 text diff=json
*.objectdisabled         text diff=json
*.painttool              text diff=json
*.parallax               text diff=json
*.particle               text diff=json
*.particlesource         text diff=json
*.partparams             text diff=json
*.patch                  text diff=json
*.projectile             text diff=json
*.questtemplate          text diff=json
*.radiomessages          text diff=json
*.recipe                 text diff=json
*.ridgeblocks            text diff=json
*.sbvn                   text diff=json
*.spawntypes             text diff=json
*.species                text diff=json
*.stagehand              text diff=json
*.statuseffect           text diff=json
*.structure              text diff=json
*.tech                   text diff=json
*.tenant                 text diff=json
*.terrain                text diff=json
*.thrownitem             text diff=json
*.tillingtool            text diff=json
*.tooltip                text diff=json
*.treasurechests         text diff=json
*.treasurepools          text diff=json
*.unlock                 text diff=json
*.vehicle                text diff=json
*.weaponability          text diff=json
*.weaponcolors           text diff=json
*.weather                text diff=json
*.wiretool               text diff=json
_metadata                text diff=json
_previewimage            -text -diff
*.png                    -text -diff
*.ase                    -text -diff
*.pdn                    -text -diff
