{
	"names" : [
		{ "mode" : "alts" },
		[ { "mode" : "serie" },
			[ { "mode" : "alts" },
				"Meow", "Mouse", "Yarn", "Bird", "Fish", "Milk", 
				"Cat", "Kitty", "Neko", "Tuna", "Sylvester", "Tom",
			        "Pussy", "Lion", "Tiger", "Cheetah", "Grumpy", "Tail",
			        "Space", "Fluff", "Fuzz", "Heaven", "Cringe" ],
				
			[ { "mode" : "alts" },
				"cuddler", "biter", "scratch", "dancer",
				"watcher", "shaker", "chaser", "meow", "burger",
				"spooner", "singer", "licker", "kitty", "-san",
				"neko", "-chan", "hunter", "meowzer", "tracker",
				"clawer", "scratcher", "killer", "-cat", "paws",
				"claws", "boots", "-puss", "stalker", "gazer"
			]
		]
	]
}